---
import { getCollection } from 'astro:content'

import Layout from '@/layouts/Layout.astro'
import Articles from '@/components/blog/Articles.astro'

const title = 'Blog - RadisDev'
const description =
	'¡Hola! Soy Raúl, desarrollador de full stack. Descubre contenido sobre desarrollo web, tecnología y más para alimentar tu curiosidad por la informática.'

const articles = (await getCollection('blog')).filter((article) => article.data.state === 'published')
---

<Layout title={title} description={description} openGraph={{ title: title, description: description, image: { url: '/og.png' } }}>
	<section>
		<h1 class="text-text-title_light dark:text-text-title_dark mb-6 text-4xl font-bold sm:mb-10 sm:text-5xl">Blog</h1>
		<Articles articles={articles} />
	</section>
</Layout>
