---
import FormattedDate from '@/components/FormattedDate.astro'

interface Props {
	startDate: Date
	endDate?: Date
}

const { startDate, endDate } = Astro.props
---

<div class="flex flex-row space-x-1 text-sm text-gray-600/80 dark:text-white/80">
	<p>
		<FormattedDate
			date={startDate}
			format={{
				month: 'short',
				year: 'numeric',
			}}
		/>
	</p>
	<p aria-hidden="true">-</p>
	<p>
		{
			endDate ? (
				<FormattedDate
					date={endDate}
					format={{
						month: 'short',
						year: 'numeric',
					}}
				/>
			) : (
				'actualmente'
			)
		}
	</p>
</div>
