---
import { networks } from '@/constants/networks'
---

<footer class="mb-4 flex flex-col justify-between gap-6 sm:flex-row sm:gap-0">
	<ul class="flex flex-row gap-4">
		{
			networks.map(({ name, url }) => (
				<li>
					<a
						href={url}
						class="dark:border-border_dark border-border_light border-b-2 pb-0.5 transition-colors duration-200 hover:border-current"
						target="_blank"
						rel="noopener noreferrer"
					>
						{name}
					</a>
				</li>
			))
		}
	</ul>

	<ul class="flex flex-row gap-4">
		<li>
			<a
				href="/legal/politica-privacidad"
				class="dark:border-border_dark border-border_light border-b-2 pb-0.5 transition-colors duration-200 hover:border-current"
			>
				Política de privacidad
			</a>
		</li>
		<li>
			<a
				href="/legal/politica-cookies"
				class="dark:border-border_dark border-border_light border-b-2 pb-0.5 transition-colors duration-200 hover:border-current"
			>
				Política de cookies
			</a>
		</li>
	</ul>
</footer>
