---
import '@fontsource-variable/space-grotesk'

import '@/styles/global.css'

import { ClientRouter } from 'astro:transitions'
import { SEO } from 'astro-seo'

import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import GoogleAnalytics from '@/components/GoogleAnalytics.astro'

interface Props {
	title: string
	description: string
	noindex?: boolean
	nofollow?: boolean
	openGraph: {
		title: string
		description: string
		image: {
			url: string
			alt?: string
		}
		article?: {
			publishedTime: Date
		}
	}
}

const { title, description, noindex, nofollow, openGraph } = Astro.props
---

<!doctype html>
<html lang="es-ES" transition:name="root" transition:animate="none">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<SEO
			title={title}
			description={description}
			noindex={noindex}
			nofollow={nofollow}
			charset="utf-8"
			openGraph={{
				basic: {
					title: openGraph.title,
					type: openGraph.article ? 'article' : 'website',
					image: new URL(openGraph.image.url, Astro.url.origin).href,
				},
				optional: {
					description: description,
					locale: 'es_ES',
					siteName: 'RadisDev',
				},
				image: {
					type: 'image/png',
					width: 1200,
					height: 630,
					alt: openGraph.image.alt,
				},
				...(openGraph.article && {
					article: {
						publishedTime: openGraph.article.publishedTime.toISOString(),
					},
				}),
			}}
			twitter={{
				title: openGraph.title,
				description: openGraph.description,
				card: 'summary_large_image',
				site: '@radisdev',
				creator: '@radisdev',
				image: new URL(openGraph.image.url, Astro.url.origin).href,
				imageAlt: openGraph.image.alt,
			}}
			extend={{
				link: [
					{ rel: 'icon', type: 'image/svg+xml', href: '/favicon.svg' },
					{ rel: 'sitemap', href: '/sitemap-index.xml' },
					{ rel: 'alternate', type: 'application/rss+xml', title: 'RadisDev - Blog', href: '/blog/feed.xml' },
				],
			}}
		/>
		<GoogleAnalytics />
		<ClientRouter />
	</head>
	<body class={`h-dvh min-w-[20rem] bg-bg_body_light text-text_light antialiased dark:bg-bg_body_dark dark:text-text_dark`}>
		<div class={`m-auto flex grow flex-col py-12 px-6 max-w-4xl lg:max-w-5xl min-h-full`}>
			<Header />
			<main class="flex grow flex-col py-12" transition:animate="slide">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
<!--
	____           _ _     ____             
	|  _ \ __ _  __| (_)___|  _ \  _____   __
	| |_) / _` |/ _` | / __| | | |/ _ \ \ / /
	|  _ < (_| | (_| | \__ \ |_| |  __/\ V / 
	|_| \_\__,_|\__,_|_|___/____/ \___| \_/  
	
	Un saludo para quien esté explorando este código fuente.
	Ya seas desarrollador, programador o hacker ;)
-->
